src/__pycache__/conway.cpython-312.pyc
src/__pycache__/test_conway.cpython-312-pytest-8.3.4.pyc
.vscode/settings.json
files/__pycache__/hiker.cpython-312.pyc
files/__pycache__/test_hiker.cpython-312-pytest-8.3.4.pyc
